@import './../../styles/variables.scss';
@import './../../styles/breakpoints.scss';
@import './../../styles/burger.scss';

.header {
    position: sticky;
    z-index: 55;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px;
    margin-bottom: 30px;
}
.title {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    color: $primary-color;
    @include tablet {
        font-size: 24px;
    }
    @include small-tablet {
        font-size: 20px;
    }
    @include mobile {
        display: none;
    }
}
.logo {
    height: 65px;
}

.mobileWrapper {
    position: absolute;
    top: 0;
    left: -15px;
    height: 100vh;
    width: 100vw;
    padding: 15px;
    padding-top: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    z-index: 25;
    background-color: #fff;
}
.wrapper {
    display: flex;
    column-gap: 20px;
    align-items: center; 
    @include small-tablet {
        column-gap: 12px;
    }
    &:nth-child(2) {
        @include mobile {
            display: none;
        }
    }
}

.change_theme {
    cursor: pointer;
    height: 28px;
    border: none;
    background: transparent;
}
.burger {
    @include burger;
    z-index: 35;
}